<div class="main">
<div class="sidebar">
    <ul>
        <a [routerLink]="'/stock'" class="btn1">
            <li>Gestion stocks</li>
        </a>
        <a [routerLink]="'/client'" class="btn1">
            <li>Gestion utilisateurs</li>
        </a>
        <a [routerLink]="'/commande'" class="btn1">
            <li>Nouvelle commande</li>
        </a>
        <a [routerLink]="'/fournisseur'" class="btn1">
            <li class="btn btn1">Gestion fournisseurs</li>
        </a>
        <a [routerLink]="''">
            <li>Se déconnecter</li>
        </a>
    </ul>
</div>

<nav>
    <div class="logo">
        <h1>Negosud</h1>
    </div>
    <div class="middle">
        <ul>
            <a [routerLink]="'/stock'" class="btn1">
                <li class="btn btn1">Gestion stocks</li>
            </a>
            <a [routerLink]="'/client'" class="btn1">
                <li class="btn btn1">Gestion utilisateurs</li>
            </a>
            <a [routerLink]="'/fournisseur'" class="btn1">
                <li class="btn btn1">Gestion fournisseurs</li>
            </a>
            <a [routerLink]="'/commande'" class="btn1">
                <li class="btn btn1">Nouvelle commande</li>
            </a>
        </ul>
    </div>
    <div class="deconnexion">
        <ul>
            <a [routerLink]="''"class="btn1">
                <li class="btn btn1">Se déconnecter</li>
            </a>
        </ul>
    </div>
    <img src="../../../assets/img/menuBurger.png" alt="" class="menuburger">
</nav>
</div>