<div class="main">
<div class="sidebar">
    <ul>
        <a [routerLink]="'/stock'" class="btn1">
            <li>Stocks</li>
        </a>
        <a [routerLink]="'/client'" class="btn1">
            <li>Clients</li>
        </a>
        <a [routerLink]="'/commande'" class="btn1">
            <li>Commandes</li>
        </a>
        <a [routerLink]="'/fournisseur'" class="btn1">
            <li class="btn btn1">Fournisseurs</li>
        </a>
        <a [routerLink]="''">
            <li>Déconnexion</li>
        </a>
    </ul>
</div>

<nav>
    <div class="logo">
        <h1>Negosud Management</h1>
    </div>
    <div class="middle">
        <ul>
            <a [routerLink]="'/stock'" class="btn1">
                <li class="btn btn1">Stocks</li>
            </a>
            <a [routerLink]="'/client'" class="btn1">
                <li class="btn btn1">Clients</li>
            </a>
            <a [routerLink]="'/fournisseur'" class="btn1">
                <li class="btn btn1">Fournisseurs</li>
            </a>
            <a [routerLink]="'/commande'" class="btn1">
                <li class="btn btn1">Commandes</li>
            </a>
        </ul>
    </div>
    <div class="deconnexion">
        <ul>
            <a [routerLink]="''"class="btn1">
                <li class="btn btn1">Déconnexion</li>
            </a>
        </ul>
    </div>
    <img src="../../../assets/img/menuBurger.png" alt="" class="menuburger">
</nav>
</div>