<app-navbar></app-navbar>


<div class="content">
    <h1>Gestion stocks</h1>
    <dx-data-grid class="tab" id="gridContainer" [dataSource]="products" keyExpr="id" [showBorders]="true"
        (onRowUpdating)="updateProduct($event)" (onRowInserting)="addProduct($event)"
        (onRowRemoving)="removeProduct($event)">

        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons">
        </dxo-pager>
        <dxo-editing mode="form" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        </dxo-editing>

        <dxo-filter-row [visible]="true"> </dxo-filter-row>

        <dxi-column dataField="sortId" caption="Type">
            <dxo-lookup [dataSource]="sorts" displayExpr="name" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="nomDomaine" caption="Nom de domaine"></dxi-column>
        <dxi-column dataField="reference" caption="Réfèrence"></dxi-column>
        <dxi-column dataField="quantite" caption="Quantité"></dxi-column>
        <dxi-column dataField="prix" caption="Prix"></dxi-column>
        <dxi-column dataField="volume" caption="Volume"></dxi-column>
        <dxi-column dataField="millesime" caption="Millésime"></dxi-column>
        <dxi-column dataField="image" caption="Image"></dxi-column>

    </dx-data-grid>

</div>